<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    <link rel= "stylesheet" type= "text/css" href= "/static/style.css">
   
</head>
<body>
    <div class="main-container">
        <h1 class="page-header">Distance Calcultor</h1>
        <a class="link" href="/kimtomi">Miles To Kilometers</a>
        <a class="link" href="/mitokim">Kilometers To Miles</a>
    </div>
</body>
</html>
